.card-title{
  padding-top: 1vh;
  padding-left: 1vw;
}

.card hr{
  margin: 0px 0px 0px 0px;
}

.card-footer{
  border-top: 0px;
  padding-right: 0px;
  background-color: white;
  text-align: end;
}

.card-subtitle{
  padding-left: 1vw;
  margin-bottom: 0px;
  font-size: smaller;
}

.bodyPost{
  padding-top: 0px;
  padding-left: 1vw;
}

.form-floating {
  text-align: right;
}

.colAvatar{
  text-align: center;
}
